.image-1 {
  background-image:  linear-gradient(-225deg, rgba(189,195,199,0.5) 0%, rgba(44,62,80,0.5) 50%), url("https://images.unsplash.com/photo-1529729452430-d35a0213b820?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70acb242508406400aebf1ad50a46288&auto=format&fit=crop&w=600&q=60");
 }

 .image-2 {
  background-image:  linear-gradient(-225deg, rgba(189,195,199,0.5) 0%, rgba(44,62,80,0.5) 50%), url("https://images.unsplash.com/photo-1526892210127-f6e3add154ce?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cccb6e666683cc1689218dd0c39657b5&auto=format&fit=crop&w=600&q=60");
 }

.image-3 {
  background-image:  linear-gradient(-225deg, rgba(189,195,199,0.5) 0%, rgba(44,62,80,0.5) 50%), url("https://images.unsplash.com/photo-1525704560800-15da5155c72e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dfca43e5cdef73925a6c45f9bca5e3da&auto=format&fit=crop&w=600&q=60");
}

.image-4 {
  background-image:  linear-gradient(-225deg, rgba(189,195,199,0.5) 0%, rgba(44,62,80,0.5) 50%), url("https://images.unsplash.com/photo-1525576064846-083dce8b33ba?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b702b29f3ae382fb9ba1b440afa329a&auto=format&fit=crop&w=600&q=60");
}


.wrapper {
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: 0;
  position: fixed;
  z-index: -1;
  transition: background-image 0.5s ease;
}

.text-center {
  text-align: text-center;
}

.new-btn {
  width: 200px;
  text-align: text-center;
  margin: 20px;
}
